.App {
    text-align: center;
}

.App-logo {
    height: 150px;
    size: 30px;
}

.App-header {
    background-color: #222;
    height: 300px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    
}

#title {
    margin-bottom: 30px;
    font-size: 1.5em;
    font-family: "Courier New", Courier, monospace;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

#mainContent {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

#upload-div {
    margin: auto;
    width: 300px;
}

#contract-name {
    margin-top: 30px;
}

h1 {
    position: relative;
    text-align: center;
}

h1 span {
    background: #222;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

h1:before {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
}

h1:before {
    left: 0;
}
